
@{
    ViewData["Title"] = "AddArticle";
}

<h1>AddArticle</h1>


<form method="post" asp-action="AddArticle" asp-controller="Data">

    <input type="submit" name="name" value="Gönder" />

</form>

